---
import Markdown from "@components/Markdown.astro"
import Section from "@components/Section.astro"
import MainGridLayout from "@layouts/MainGridLayout.astro"
import { getCollection } from "astro:content"

export async function getStaticPaths() {
	const postEntries = await getCollection("posts")
	return postEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<MainGridLayout title={entry.data.title}>
	<Section class:list={["p-4"]}>
		<!-- HEADER -->

		<!-- BODY -->
		<Markdown>
			<Content />
		</Markdown>
	</Section>
</MainGridLayout>
