---
import type { NavBarLink } from "@/types/config"
import ArrowUpSquare from "@icons/ArrowUpSquare.astro"

interface Props {
	links: NavBarLink[]
	class: string
}

const { links, class: className } = Astro.props
---

<div
	id="nav-menu-panel"
	class:list={[
		"float-panel closed fixed absolute right-4 px-2 py-2 transition-all",
		className,
	]}
>
	{
		links.map((link) => (
			<a
				href={link.url}
				class="group flex items-center justify-between gap-8 rounded-lg py-2 pl-3 pr-1
            transition hover:bg-[var(--btn-plain-bg-hover)] active:bg-[var(--btn-plain-bg-active)]
        "
				target={link.external ? "_blank" : null}
			>
				<div class="font-bold transition group-hover:text-[var(--primary)] group-active:text-[var(--primary)] ">
					{link.name}
				</div>

				{link.external && <ArrowUpSquare />}
			</a>
		))
	}
</div>
