---
import type { NavBarLink } from "@/types/config"
import ArrowUpSquare from "@components/icons/ArrowUpSquare.astro"

interface Props {
	links: NavBarLink[]
	class: string
}

const { links, class: className } = Astro.props
---

<div
	id="nav-menu-panel"
	class:list={[
		"overflow-hidden rounded-box bg-base-100 px-2 py-2 shadow-xl transition-all dark:shadow-none",
		className,
	]}
>
	{
		links.map((link) => (
			<a
				href={link.url}
				class="group flex items-center justify-between gap-8 rounded-lg py-2 pl-3 pr-1
            text-black transition hover:bg-black/30 active:bg-primary/30"
				target={link.external ? "_blank" : null}
			>
				<div class="font-bold text-neutral-700 transition group-hover:text-primary group-active:text-primary dark:text-neutral-300 ">
					{link.name}
				</div>

				{link.external && <ArrowUpSquare />}
			</a>
		))
	}
</div>
