---
import Categories from "@components/Categories.astro"
import Profile from "@components/widget/Profile.astro"
import Tags from "@components/widget/Tags.astro"

const className = Astro.props.class
---

<div id="sidebar" class:list={["w-full", className]}>
	<div class="mb-4 flex w-full flex-col gap-4">
		<Profile />
	</div>
	<div class="sticky top-4 flex w-full flex-col gap-4">
		<Categories />
		<Tags />
	</div>
</div>
