---
import Markdown from "@components/Markdown.astro"
import MainGridLayout from "@layouts/MainGridLayout.astro"
import { getEntry } from "astro:content"

const aboutPost = await getEntry("spec", "about")

const { Content } = await aboutPost.render()
---

<MainGridLayout title="About">
	<div
		class="card-base relative flex min-h-32 w-full overflow-hidden rounded-[var(--radius-large)]"
	>
		<div class="relative z-10 w-full overflow-hidden px-9 py-6 transition">
			<Markdown class="mt-2">
				<Content />
			</Markdown>
		</div>
	</div>
</MainGridLayout>
