---
const className = Astro.props.class
---

<div
	class:list={[
		"max-w-6xl rounded-md bg-indigo-500/20 text-slate-200",
		className,
	]}
>
	<slot name="header" />
	<slot />
	<slot name="footer" />
</div>

<style></style>
