---
interface Props {
	size?: string
	dot?: boolean
	href?: string
	label?: string
}
const { size, dot, href, label }: Props = Astro.props
---

<a
	href={href}
	aria-label={label}
	class="btn-ghost flex h-8 items-center rounded-lg bg-black/15 px-3 text-sm text-neutral-700 active:scale-95 dark:text-neutral-300"
>
	{
		dot && <div class="btn-ghost mr-2 h-1 w-1 rounded-md bg-primary transition" />
	}
	<slot />
</a>
