---
import type { Page } from "astro"

interface Props {
	page: Page
	class?: string
	style?: string
}

const { class: className, page, style } = Astro.props

const prevState: string = page.url.prev === undefined ? "btn-disabled" : ""
const nextState: string = page.url.next === undefined ? "btn-disabled" : ""
---

<div
	class:list={["join flex flex-row justify-center", className]}
	style={style}
>
	<a
		href={page.url.prev}
		aria-label={page.url.prev ? "Previous Page" : null}
		class:list={["btn join-item", prevState]}>«</a
	>
	<label class="btn join-item">{page.currentPage}</label>
	<a
		href={page.url.next}
		aria-label={page.url.next ? "Next Page" : null}
		class:list={["btn join-item", nextState]}>»</a
	>
</div>
